{
  "type": "kafka",
  "spec": {
    "ioConfig": {
      "type": "kafka",
      "consumerProperties": {
        "bootstrap.servers": "{{ references["kafka_vm"].fqdn }}:9092"
      },
      "topic": "{{ references["kafka_vm"].topic }}",
      "inputFormat": {
        "type": "json"
      },
      "useEarliestOffset": true
    },
    "tuningConfig": {
      "type": "kafka"
    },
    "dataSchema": {
      "dataSource": "logs-httpd",
      "granularitySpec": {
        "type": "uniform",
        "queryGranularity": "MINUTE",
        "segmentGranularity": "HOUR",
        "rollup": true
      },
      "timestampSpec": {
        "column": "time_local",
        "format": "iso"
      },
      "dimensionsSpec": {
        "dimensions": [
          {
            "type": "string",
            "name": "host"
          },
          {
            "type": "string",
            "name": "http_referer"
          },
          {
            "type": "string",
            "name": "http_user_agent"
          },
          {
            "type": "string",
            "name": "http_x_forwarded_for"
          },
          {
            "type": "string",
            "name": "remote_addr"
          },
          {
            "type": "string",
            "name": "request_method"
          },
          {
            "type": "string",
            "name": "request_uri"
          },
          {
            "type": "string",
            "name": "server_addr"
          },
          {
            "type": "string",
            "name": "upstream_addr"
          },
          {
            "type": "string",
            "name": "upstream_status"
          },
          {
            "type": "long",
            "name": "body_bytes_sent"
          },
          {
            "type": "double",
            "name": "upstream_response_time"
          },
          {
            "type": "double",
            "name": "request_time"
          },
          {
            "type": "string",
            "name": "status"
          }
        ]
      },
      "metricsSpec": [
        {
          "name": "count",
          "type": "count"
        },
        { "type" : "longSum", "name" : "body_bytes_sent_sum", "fieldName" : "body_bytes_sent" },
        { "type" : "longMin", "name" : "body_bytes_sent_min", "fieldName" : "body_bytes_sent" },
        { "type" : "longMax", "name" : "body_bytes_sent_max", "fieldName" : "body_bytes_sent" },
        { "type" : "doubleMin", "name" : "upstream_response_time_min", "fieldName" : "upstream_response_time" },
        { "type" : "doubleMax", "name" : "upstream_response_time_max", "fieldName" : "upstream_response_time" },
        { "type" : "doubleMin", "name" : "request_time_min", "fieldName" : "request_time" },
        { "type" : "doubleMax", "name" : "request_time_max", "fieldName" : "request_time" },
        {
          "type" : "quantilesDoublesSketch",
          "name" : "body_bytes_sent_quantiles",
          "fieldName" : "body_bytes_sent"
        },
        {
          "type" : "quantilesDoublesSketch",
          "name" : "upstream_response_time_quantiles",
          "fieldName" : "upstream_response_time"
        },
        {
          "type" : "quantilesDoublesSketch",
          "name" : "quantilesDoublesSketch_quantiles",
          "fieldName" : "request_time"
        },
        {
          "type" : "momentSketch",
          "name" : "body_bytes_sent_moment",
          "fieldName" : "body_bytes_sent"
        },
        {
          "type" : "momentSketch",
          "name" : "upstream_response_time_moment",
          "fieldName" : "upstream_response_time"
        },
        {
          "type" : "momentSketch",
          "name" : "request_time_moment",
          "fieldName" : "request_time"
        },
        {
          "type" : "momentSketchMerge",
          "name" : "body_bytes_sent_moment_merge",
          "fieldName" : "body_bytes_sent"
        },
        {
          "type" : "momentSketchMerge",
          "name" : "upstream_response_time_moment_merge",
          "fieldName" : "upstream_response_time"
        },
        {
          "type" : "momentSketchMerge",
          "name" : "request_time_moment_merge",
          "fieldName" : "request_time"
        }
      ]
    }
  }
}