{
  "type": "kafka",
  "spec": {
    "ioConfig": {
      "type": "kafka",
      "consumerProperties": {
        "bootstrap.servers": "{{ references["kafka_vm"].fqdn }}:9092"
      },
      "topic": "{{ references["kafka_vm"].topic }}",
      "inputFormat": {
        "type": "json"
      },
      "useEarliestOffset": true
    },
    "tuningConfig": {
      "type": "kafka",
      "logParseExceptions": true
    },
    "dataSchema": {
      "dataSource": "logs-httpd",
      "granularitySpec": {
        "type": "uniform",
        "queryGranularity": "MINUTE",
        "segmentGranularity": "HOUR",
        "rollup": true
      },
      "timestampSpec": {
        "column": "time_local",
        "format": "iso"
      },
      "dimensionsSpec": {
        "dimensions": [
          "host",
          "http_referer",
          "http_user_agent",
          "http_x_forwarded_for",
          "remote_addr",
          "request_method",
          "request_uri",
          "server_addr",
          "upstream_addr",
          "upstream_response_time",
          "upstream_status",
          {
            "type": "string",
            "name": "status"
          }
        ]
      },
      "metricsSpec": [
        {
          "name": "count",
          "type": "count"
        },
        {
          "name": "sum_body_bytes_sent",
          "type": "longSum",
          "fieldName": "body_bytes_sent"
        },
        {
          "name": "quantile_request_time",
          "type": "quantilesDoublesSketch",
          "fieldName": "request_time"
        },
        {
          "type": "momentSketch",
          "fieldName": "request_time",
          "name": "moment_request_time",
          "k": 12
        },
        {
          "name": "quantile_body_bytes_sent",
          "type": "quantilesDoublesSketch",
          "fieldName": "body_bytes_sent"
        },
        {
          "name": "moment_body_bytes_sent",
          "type": "momentSketch",
          "fieldName": "body_bytes_sent",
          "k": 12
        },
        {
          "name": "build_request_time",
          "type": "HLLSketchBuild",
          "fieldName": "request_time"
        },
        {
          "name": "theta_request_time",
          "type": "thetaSketch",
          "fieldName": "request_time"
        },
        {
          "name": "theta_body_bytes_sent",
          "type": "thetaSketch",
          "fieldName": "body_bytes_sent"
        }
      ]
    }
  }
}