[Unit]
Description=Flask App Service
After=syslog.target network.target
[Service]
Type=simple
User={{ user }}
WorkingDirectory={{ home }}
Environment="PATH={{ home }}/env/bin:$PATH"
Environment="FLASK_APP=wsgi:app"
Environment="PYTHONPATH=.:$PYTHONPATH"
ExecStart={{ home }}/env/bin/uwsgi --ini webapp.ini
Restart=on-abort
[Install]
WantedBy=multi-user.target